@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --mont: font-family: 'Montserrat', sans-serif;
}
#in{
    margin-left: 5px;
    background-color: rgb(35,35,35);
    color:rgb(17, 199, 99);
}
#greeting{
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    border-radius: 3px;
    border: 2px solid grey;
    background-color: rgb(230, 223, 223);
}
#title{
    width: 50%;
    padding:25px;
    display: flex;
    flex-direction: column;
}

#options{
    display: flex;
    gap:20px;
}
.option{
    cursor: pointer;
    border: 1px solid black;
    padding:5px;
    
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: royalblue;
}