@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    font-family: 'Roboto Mono', monospace;

}
#information{
    position: relative;
}
#greeting{
    background-color: rgb(29, 29, 29);
    color:white;
    
    

}

#title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    grid-column-gap: 4px;
    
}
.info-container
{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#information input {
    margin-left: 5px;

}
#container{
    border: '10px solid red';
}

#body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#body input {
    min-height: 20vh;
}
textarea{
    max-width: 650px;
    max-height: 450px;
    min-width: 250px;
    min-height: 125px;
}
#success-status{
    margin-top: 5px;
}
#content-box{
    height: 30vh;
}
#content-box #in{height: 20vh;}